<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxd.student_information.mapper.ITeacherMapper">
    <select id="selectAllStu" resultType="java.util.HashMap">
           SELECT
            e.student_id,
            student_name,
            sex,
            folk,
            native_place,
            graduate_school,
            MAX( CASE course_name WHEN 'Java基础笔试' THEN score ELSE 0 END ) Java基础笔试,
            MAX( CASE course_name WHEN 'HTML笔试' THEN score ELSE 0 END ) HTML笔试,
            MAX( CASE course_name WHEN 'Java高级笔试' THEN score ELSE 0 END ) Java高级笔试,
            MAX( CASE course_name WHEN 'JS笔试' THEN score ELSE 0 END ) JS笔试,
            MAX( CASE course_name WHEN 'Oracle笔试' THEN score ELSE 0 END ) Oracle笔试,
            MAX( CASE course_name WHEN 'L1面试' THEN score ELSE 0 END ) L1面试,
            e.teacher_id
        FROM
            (
            SELECT
                d.student_id,
                student_name,
                sex,
                folk,
                graduate_school,
                native_place,
                score,
                course_id,
                d.teacher_id
            FROM
                (
                SELECT
                    student_id,
                    student_name,
                    sex,
                    folk,
                    graduate_school,
                    native_place,
                    teacher_id
                FROM
                    student s
                    LEFT JOIN class c ON c.class_no = s.class_no
                ) d
                LEFT JOIN course_score cs ON d.student_id = cs.student_id
            ) e
            LEFT JOIN course c ON e.course_id = c.course_id
        <where>
            <if test="e.teacher_id != 0">
                e.teacher_id = #{teacher_id}
            </if>
            <if test="student_name != null and student_name != ''">
                student_name like concat('%',#{student_name},'%')
            </if>
        </where>
        GROUP BY
            student_id
            order by student_id;
    </select>

    <select id="selectAllStuBypage" resultType="java.util.HashMap">
        SELECT
        e.student_id,
        student_name,
        sex,
        folk,
        native_place,
        graduate_school,
        MAX( CASE course_name WHEN 'Java基础笔试' THEN score ELSE 0 END ) Java基础笔试,
        MAX( CASE course_name WHEN 'HTML笔试' THEN score ELSE 0 END ) HTML笔试,
        MAX( CASE course_name WHEN 'Java高级笔试' THEN score ELSE 0 END ) Java高级笔试,
        MAX( CASE course_name WHEN 'JS笔试' THEN score ELSE 0 END ) JS笔试,
        MAX( CASE course_name WHEN 'Oracle笔试' THEN score ELSE 0 END ) Oracle笔试,
        MAX( CASE course_name WHEN 'L1面试' THEN score ELSE 0 END ) L1面试,
        e.teacher_id
        FROM
        (
        SELECT
        d.student_id,
        student_name,
        sex,
        folk,
        graduate_school,
        native_place,
        score,
        course_id,
        d.teacher_id
        FROM
        (
        SELECT
        student_id,
        student_name,
        sex,
        folk,
        graduate_school,
        native_place,
        teacher_id
        FROM
        student s
        LEFT JOIN class c ON c.class_no = s.class_no
        ) d
        LEFT JOIN course_score cs ON d.student_id = cs.student_id
        ) e
        LEFT JOIN course c ON e.course_id = c.course_id
        <where>
            <if test="e.teacher_id != 0">
                e.teacher_id = #{teacher_id}
            </if>
            <if test="student_name != null and student_name != ''">
                student_name like concat('%',#{student_name},'%')
            </if>
        </where>
        GROUP BY
        student_id
        order by student_id
        limit #{pageIndex},#{pageSize}
    </select>

    <insert id="insertTeacher">
        insert into teacher (teacher_name) values (#{teacherName})
    </insert>

    <select id="selectAllTeacher" resultType="Teacher">
    select teacher_id,teacher_name from teacher
    <if test="teacherName != null and teacherName != ''">
        where teacher_name like concat('%',#{teacherName},'%')
    </if>
    </select>

    <select id="selectAllTeacherByPage" resultType="Teacher">
        select teacher_id,teacher_name from teacher
        <if test="teacherName != null and teacherName != ''">
            where teacher_name like concat('%',#{teacherName},'%')
        </if>
        order by teacher_id
        limit #{pageStart},#{pageSize}
    </select>

    <update id="updateTeacherById">
        update teacher set teacher_name = #{teacherName} where teacher_id = #{teacherId}
    </update>
</mapper>
