<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxd.student_information.mapper.ITeacherMapper">
    <select id="selectAllStuTotalsWithTeacher" resultType="java.util.HashMap">
       ${sql}
        <where>
            <if test="teacher_id != 0">
                e.teacher_id = #{teacher_id}
            </if>
            <if test="student_name != null and student_name != ''">
                and student_name like concat('%',#{student_name},'%')
            </if>
        </where>
        GROUP BY
        student_id
        order by student_id
    </select>

    <select id="selectAllStuBypageWithTeacher" resultType="java.util.HashMap">
        ${sql}
        <where>
            <if test="teacher_id != 0">
                e.teacher_id = #{teacher_id}
            </if>
            <if test="student_name != null and student_name != ''">
                and student_name like concat('%',#{student_name},'%')
            </if>
        </where>
        GROUP BY
        student_id
        order by student_id
        limit #{pageIndex},#{pageSize}
    </select>

    <select id="getSequence" resultType="java.lang.String">
       SELECT
	    GROUP_CONCAT( DISTINCT CONCAT( 'MAX(IF(course_name = ''', course_name, ''', score, 0)) AS ''', course_name, '''' ) )
        FROM
        course
    </select>

</mapper>
